.all-cards {
  /* margin: 100px 200px; */
  /* flex-wrap: wrap; */
  display: flex;
  justify-content: space-evenly;

  padding-top: 30px;
  padding-left: 80px;
}

@media (max-width: 375px) {
  .all-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}
