.single-page {
  display: flex;
  margin: 30px;
}

.block-1 {
  margin-right: 10px;
  margin-left: 50px;
}

.block-2 {
}

.block-3 {
  flex: 3;
  display: inline-block;
  padding-left: 50px;
}

.single-page .box {
  width: 27%;
}
