.header {
  height: 56px;
  width: 100%;
  background-color: #4b6065;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 90;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (max-width: 499px) {
  .desktop-only {
    display: none;
  }
}

.logo {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: lighter;
  color: aquamarine;
  padding-left: 20px;
}

.sub-header {
  margin: 0;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.btn {
  background-color: inherit;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
}
.btn:hover {
  background: #eee;
}

.icon {
  padding-top: 25px;
}
/* .btn a:hover,
.btn a:active {
  color: #40a4c8;
} */
