.nav-item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
}

@media (min-width: 500px) {
  .nav-item {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .nav-item:hover {
    background-color: #40a4c8b6;
    border-radius: 10px;
  }
  .nav-item a {
    /* height: 100%; */
    padding: 5px 30px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
  }
  .nav-item a:hover,
  .nav-item a:active,
  .nav-item a:active {
    color: aquamarine;
  }
}
