.block-checkout {
  display: flex;
  justify-content: center;
}

.block-checkout-1 {
  display: flex;
  margin-left: 5%;
}

.block-checkout-1 img {
  width: 35%;
}

.block-1-div {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.block-1-div p {
  padding: 0;
  margin: 5px;
  font-family: "Darker Grotesque", sans-serif;
  color: #767676;
  font-size: 0.95rem;
  letter-spacing: 0.03125rem;
  line-height: 1.5rem;
  font-style: Normal;
  font-weight: 400;
}

.block-1-div p:first-child {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #041e3a;
}

.block-checkout-2 {
  margin-right: 200px;
  display: flex;
  flex-direction: column;
}

.block-checkout-2 p {
  padding: 0;
  margin: 19px;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.03125rem;
  line-height: 1.25rem;
  font-style: Normal;
  font-weight: bold;
  text-transform: uppercase;
}

.addShirtBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.addShirtBtns button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid #041e3a;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.addShirtBtns button:disabled {
  background-color: #d4cabe;
  color: black;
}

.addShirtBtns button:hover:disabled {
  background-color: #ac9980;
  cursor: not-allowed;
}

.number {
  font-weight: bold;
  width: 35px;
  text-align: center;
  border: #ccc 1px solid;
  margin: 3px;
}

#price {
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
}

.addShirtBtns .less {
  background-color: #361314;
  color: white;
}

.addShirtBtns .more {
  background-color: #13362d;
  color: white;
}

.addShirtBtns .less:hover,
.addShirtBtns .less:active {
  background-color: rgb(231, 219, 219);
  color: #041e3a;
}

.addShirtBtns .more:hover,
.addShirtBtns .more:active {
  background-color: rgb(208, 223, 211);
  color: #041e3a;
}
